/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /*
  BOOTSTRAP OVERRIDE
 */
  .container-lg {
    margin-left: 6%;
    max-width: 94%;
    padding: 0;
  }

  /*

  LOGO

   */
  #logo {
    padding: 30px 0;
  }

  #logo .left, #logo .right {
    width: 300px;
  }
  #logo .init.show.left {
    left: -80px;
  }
  #logo .init.show.right {
    right: -67px;
  }

  /*

VIDEO

 */

  #video {
    height: calc(80vh);
    min-height: 500px;
  }


/*

COLLAB FORM

 */

#collab_message, label[for="collab_message"] {
  padding: 0
}

/*

ABOUT SECTION

 */
  #about h3, #about .receive {
    padding-left: 15px;
    padding-right: 15px;
  }

  #about .leftform {
    margin-left: -16%;
  }

}
