/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #liveHosts {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    z-index: 1;
  }

  #liveHosts .hosts-wrapper {
    height: 100% /* 100% of 6rem */
  }

  #liveHosts .hosts-wrapper {
    height: 100% /* 100% of 6rem */
  }

  #liveHosts .hosts {
    height: 100%;
  }
  #liveHosts .hosts .marquee {
    animation: marquee 10s linear infinite;
  }

  #video {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  #video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  /*
    FORM STYLING
   */

  .border-top-mobile{
    border-top: none;
  }

  #collabform form {
    border-left: 1px solid #fff;
  }

  #collabform .form-row {
    margin: 0 0;
  }

  #collabform .mobile_container {
    padding-left: 15px;
    padding-right: 15px;
  }

}
