
@font-face {
  font-family: 'GravurCondensed-Thin';
  src: url('GravurCondensed-Thin.eot?#iefix') format('embedded-opentype'),  url('GravurCondensed-Thin.otf')  format('opentype'),
	     url('GravurCondensed-Thin.woff') format('woff'), url('GravurCondensed-Thin.ttf')  format('truetype'), url('GravurCondensed-Thin.svg#GravurCondensed-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
