@import url('typography.css');
@import url('sidePanel.css');
@import url('grid.css');

body{
    background: #15212C;

}


h1, h2, h3 {
    color: #ffff00;
}


header{
    color: #ffff00;
    margin-bottom: 100px;
}

#bgVideo{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

a{
    text-decoration: none;
}
hr{
    border: 2px solid #ffff00;
    width: 20%;
    margin-left: 0;
}
nav{
    position: absolute;
    transition: 0.5s;
}

nav.open{
    right: 300px;
}


p{
    padding: 20px;
    margin: 0;
}
