/* The sidepanel menu */
.sidepanel {
    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #e6e6e6;
    box-shadow: 0 0 7px 0 #00000080;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.option-item {
  cursor: pointer;
  color: #ffff00;
  padding: 10px 15px;
  border: none;
  background: transparent;
}

.option-item:hover {
    border-right: 1px solid #ffff00;
    border-left: 1px solid #ffff00;
}

#aboutPanel.open{
    width: 280px;
}

#launchPanel.open{
    width: 270px;
}

#subscribePanel.open{
    width: 260px;
}
