
@font-face {
  font-family: 'NHaasGroteskDSPro-55Rg';
  src: url('NHaasGroteskDSPro-55Rg.eot?#iefix') format('embedded-opentype'),  url('NHaasGroteskDSPro-55Rg.woff') format('woff'), url('NHaasGroteskDSPro-55Rg.ttf')  format('truetype'), url('NHaasGroteskDSPro-55Rg.svg#NHaasGroteskDSPro-55Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}
