/* mobile */
@media (min-width: 320px) and (max-width: 768px){
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  header{
      font-size: 5.8em;
  }
  body{
      overflow: hidden;
  }
  #bgVideo{
      height: 100%;
      right: -55%;
  }

  .option-item{
      margin-right: .7em;
  }

  form{
      margin: 0 10%;
  }

  #tbaLogo{
      width: 100px;
      margin-left: 40px;
      margin-top: 20px;
  }
}
 /* larger than mobile */
@media (min-width: 768px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    #bgVideo{
        right: 0;
    }
    .callToAction{
        width: 60%;
    }
    p.contribute{
        width: 40%;
    }

    .two-column{
        column-count: 2;
        width: 65%;
    }
    #tbaLogo{
        width: 100px;
        margin: 20px;
        float: right;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


  /* tablet */
@media (min-width: 768px) and (max-width: 1024px) {


}

/* Larger than Desktop HD */
@media (min-width: 1025px) {


}
