@import url('typography.css');
@import url('panel.css');
@import url('grid.css');
@import url('subscribe.css');

body{
    background: #15212C;

}


h1, h2, h3 {
    color: #ffff00;
}

nav{
    margin: 20px;
}
header{
    color: #ffff00;
    margin-bottom: 100px;
}

#bgVideo{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

a{
    text-decoration: none;
}
hr{
    border: 2px solid #ffff00;
    width: 20%;
    margin-left: 0;
}

p{
    padding:  20px 40px;
    margin: 0;
    vertical-align: top;
    display: inline-block;
}
.callToAction{
    width: 60%;
}
p.contribute{
    width: 40%;
}
@media (min-width: 768px){
    .closebtn{
        display: none !important;
    }
}

.closebtn{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url('../icons/close.png');
}

.one-column{
    max-width: 800px;
}

.two-column{
    column-count: 2;
    width: 65%;
}

.right{
    float: right;
}
