#audioPanel {
    height: 100%;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    min-height: 320px;
}
#audioPanel .wrapper {
    background: rgba(255,255,255, 0.4);
    height: 100%;
    overflow: hidden;
}

#audioPanel .player {
    text-align: center;
}
#audioPanel .player .padding {
    padding: 10px 30px;
    height: calc(100% - 20px);
}

#audioPanel .player audio {
    max-width: 100%
}

#audioPanel .playlist {
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 0 30px;
}
#audioPanel .playlist .controls {
    padding-top: 20px;
}
#audioPanel .playlist .controls span {
    cursor: pointer;
}
#audioPanel .playlist ul {
    overflow-x: hidden;
    overflow-y: scroll;

    min-height: 200px;
}
#audioPanel .playlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#audioPanel .playlist ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: .05px;
    cursor: pointer;
}


#audioPanel .playlist ul li .play.button {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#audioPanel .playlist ul li:first-child {
    margin-top: 20px;
}

#audioPanel .playlist ul li:last-child {
    margin-bottom: 20px;
}

#audioPanel .playlist ul li .play.button {
    width: 10px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}
#audioPanel .playlist ul li .play.button img {
    width: 20px;
    vertical-align: middle;
}
#audioPanel .playlist ul li:hover .play.button {
    opacity: 1;
}

#audioPanel .playlist ul li.active {
    color: #ffff00;
    cursor: default;
}
#audioPanel .playlist ul li.active .play.button {
    opacity: 0;
}

/* Controls */
#audioPanel .playlist .controls .startLoop span,
#audioPanel .playlist .controls .stopLoop span {
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

@media (min-width: 768px) {
    #audioPanel {
        height: calc(100% - 58px) !important; /* minus header */
    }
    #audioPanel .wrapper {
        display: flex;
        align-items: center;
    }
    #audioPanel .flex {
        display: flex;
    }

    #audioPanel .player {
        flex: 1 0 50%;
        order: 2;
        text-align: center;
        height: 100%;
        padding: 0;
    }
    #audioPanel .player .flex {
        height: 100%;
        align-items: center;
        text-align: center;
    }
    #audioPanel .player .flex .middle {
        flex: 0 1 100%;
        text-align: center;
    }

    #audioPanel .playlist {
        display: flex;
        flex-direction: column;
        flex: 1 0 50%;
        padding: 0;
    }
    #audioPanel .playlist .padding {
        padding: 10px 40px;
        height: calc(100% - 20px) !important; /* minus padding */
        min-height: 200px;
    }
    #audioPanel .playlist ul {
        flex: 1 1 auto;
        height: 100% !important;
    }
    #audioPanel .playlist .controls {
        padding-top: 0;
    }

    #audioPanel .playlist ul li .play.button {
        opacity: 0;
    }
}
