/* mobile */
@media (min-width: 320px) and (max-width: 768px){
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  header{
      font-size: 3em;
  }
  header.open{
      display: none;
  }
  body{
      overflow: hidden;
  }
  #bgVideo{
      height: 100%;
      right: -55%;
  }

  .option-item{
      padding: 3px;
  }

  form{
      margin: 0 20px;
  }

  #tbaLogo{
      width: 150px;
      margin: 40px 20px;
  }
  nav{
      margin: 20px;
  }
  p{
     margin: 0 20px;
     padding: 20px 20px 40px;
  }
    .credit{
        bottom: 20px;
    }
}
 /* larger than mobile */
@media (min-width: 768px) {

    nav{
        margin: 20px 40px;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    #bgVideo{
        right: 0;
    }
    .callToAction{
        width: 50%;
    }
    .two-column{
        column-count: 2;
        width: 95%;
        column-gap: 40px;
        max-width: 1260px;
    }
    .credit{
        margin-left: 630px;
        position: absolute;
        bottom: 20px;
    }
    p{
        padding:  20px 40px;
    }
}


  /* tablet */
@media (min-width: 768px) and (max-width: 1024px) {


}

/* Larger than Desktop HD */
@media (min-width: 1025px) {


}
