.desktop {
    display: none;
}

@media (min-width: 320px) and (max-width: 460px) {
    header {
        font-size: 3em !important;
        margin: 27px 10px !important;

        height: calc(100% - 112px);
    }

    nav#options {
        margin: 20px 10px !important;
    }
    .info-panel.open .option-item {
        margin: 0 19px 5px !important;
        display: inline-block;
    }
}

/* mobile */
@media (min-width: 320px) and (max-width: 768px){
  header {
      font-size: 3.5em;
      letter-spacing: -4px;
      opacity: 1;

      -webkit-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -ms-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
  }
  header.open{
      opacity: 0 !important;
  }
  body{
      overflow: hidden;
  }
  nav {
      margin: 20px;
  }

  .info-panel.open nav {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      align-items: flex-start;
  }

  .option-item{
      padding: 3px;
      margin: 10px 0 0;
  }

  form{
      margin: 0 20px;
  }

  #tbaLogo{
      width: 150px;
      margin: 40px 20px;
  }
  p{
     margin: 0 20px;
     padding: 20px 10px 40px;
  }
    p.creditText {
        padding: 10px 20px;
    }
    .credit{
        bottom: 20px;
    }
}

 /* larger than mobile */
@media (min-width: 768px) {

    .desktop {
        display: block;
    }

    nav{
        margin: 20px 40px;
    }
    .callToAction{
        width: 50%;
    }
    .two-column{
        column-count: 2;
        width: 95%;
        column-gap: 40px;
        max-width: 1260px;
    }
    .credit{
        margin-left: 630px;
        position: absolute;
        bottom: 20px;
    }
    p{
        padding:  20px 40px;
    }

    /* Extra padding aligns the forms with the body content */
    form#contributeForm, #followForm {
        padding-top: 10px;
    }
}
@media (orientation:landscape) and (max-width: 900px) {
    header {
        font-size: 40px;
        display: flex !important;
        flex-direction: row !important;
    }

    header .title {
        flex: 1 50% !important;
    }

    .joanjonasContainer {
        display: block;
        padding-left: 30px;
    }

    .joanjonas {
        font-size: 25px;
    }
}


@media (orientation: landscape) and (max-width: 1200px) {
    #aboutPanel.active {
        display: flex;
    }
    #aboutPanel .credit{
        margin-left: unset;
        position: relative;
        bottom: unset;
    }
}


  /* tablet */
@media (min-width: 768px) and (max-width: 1024px) {


}

/* Larger than Desktop HD */
@media (min-width: 1025px) {


}
