header.open .joanjonas {
    opacity: 0;
}

.joanjonas {
    /*border: 2px solid;*/
    /*padding: 20px;*/
    font-size: 30px;
    letter-spacing: 3px;

    opacity: 1;

    -webkit-transition: opacity 1s, color 0.5s;
    -moz-transition: opacity 1s, color 0.5s;
    -ms-transition: opacity 1s, color 0.5s;
    -o-transition: opacity 1s, color 0.5s;
    transition: opacity 1s, color 0.5s;
}
.joanjonas .title {
    width: 40%;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
.joanjonas .light {
    font-family: 'GravurCondensed-Light', sans-serif;
}
.joanjonas .thin {
    font-family: 'GravurCondensed-Thin', sans-serif;
}
.joanjonas .view {
    border: .5px solid rgba(255, 240, 0, 1);
    display: inline-block;
    cursor: pointer;
    margin: 27px 0 0;
    padding: 7.75px 6.75px;

    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'GravurCondensed-Regular', sans-serif;
}

.joanjonas .view:hover {
    border: .5px solid rgba(255, 240, 0, 1);
    padding: 7.75px 6.75px;
}

#joanjonas_text {
    z-index: -20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;

    font-family: 'GravurCondensed-Regular', sans-serif;
    font-size: 22px;
    line-height: 27px;
    margin-top: 0;
}

#joanjonas_text .left {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

#joanjonas_text .title {
    padding: 30px 30px 0;
}
#joanjonas_text .one-column p {
    margin: 0;
    padding: 15px 30px;
}

@media (min-width: 320px) and (max-width: 460px) {
    .joanjonasContainer .light, header .joanjonasContainer .thin.desktop {
        margin: 0 0 0 10px;
    }

    .joanjonasContainer .view {
        margin: 27px 0 0 10px;
    }
}

@media (min-width: 460px) {
    .joanjonasContainer .light, header .joanjonasContainer .thin.desktop {
        margin: 0 0 0 30px;
    }

    .joanjonas .light, .joanjonas .thin {
        font-size: 30px;
        line-height: 36px;
    }

    .joanjonas .view {
        border: .5px solid rgba(255, 240, 0, 0);
        margin: 30px 0 0 30px;
        padding: 0;
    }
    .joanjonas .view:hover {
        margin: 22.25px 23.25px;
        padding: 7.75px 6.75px;
    }
}

/* iphone 5 / SE */
@media (orientation:landscape) and (max-width: 568px) and (max-height: 320px){
    .joanjonas .light, .joanjonas .thin {
        font-size: 28px;
        line-height: 32px;
    }
}

@media (orientation:landscape) and (max-width: 900px), screen and (min-width: 769px) and (max-height: 650px) {

    .joanjonasContainer {
        display: block;
        padding: 30px 30px;
    }

    .joanjonas {
        font-size: 25px;
    }
}
