header.open .joanjonas {
    opacity: 0;
}

.joanjonasContainer {
    margin: 20px 0 20px 20px;
    font-family: 'GravurCondensed-Light', sans-serif;
}

.joanjonas {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0;
    cursor: pointer;
}

.joanjonas div {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}
.joanjonas:hover div {
    color: rgba(255, 255, 0, 0.5);
}

.joanjonas .thin {
    font-family: 'GravurCondensed-Thin', sans-serif;
}

#joanjonas_text {
    z-index: -20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;

    font-family: 'GravurCondensed-Regular', sans-serif;
    font-size: 22px;
    line-height: 27px;
    margin-top: 0;
}

#joanjonas_text .left {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#joanjonas_text .title {
    padding: 30px 30px 0;
}
#joanjonas_text .title > div {
    font-size: 30px;
    letter-spacing: -0.4px;
    line-height: 36px;
}
#joanjonas_text .one-column p {
    margin: 0;
    padding: 15px 30px;
    font-size: 22px;
    letter-spacing: -0.4px;
    line-height: 27px;
    font-family: 'GravurCondensed-Regular', sans-serif;
}

@media (min-width: 768px) {
    .joanjonasContainer {
        margin: 30px 0 30px 30px;
    }
}
