@import url('typography.css');
@import url('panel.css');
@import url('grid.css');
@import url('subscribe.css');

body{
    background: #15212C;
}


h1, h2, h3 {
    color: #ffff00;
}

header{
    color: #ffff00;
    margin-bottom: 100px;
    margin: 40px 20px;
}

#bgVideo{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

a{
    text-decoration: none;
}
hr{
    border: 2px solid #ffff00;
    width: 20%;
    margin-left: 0;
}

p{
    margin: 0;
    vertical-align: top;
    display: inline-block;
}

@media (min-width: 375px){
    .info-panel.open .closebtn{
        display: block;
    }
}



.closebtn{
    right: 0;
    margin: 20px;
    display: none;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../icons/close_inverse.png');
}
.text-hyperlink{
    text-decoration: underline !important;
}
.one-column{
    max-width: 610px;
}

.right{
    float: right;
}
