@import url('typography.css');
@import url('videos.css');
@import url('panel.css');
@import url('subscribe.css');
@import url('loader.css');
@import url('joanjonas.css');

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html, body {
    font-family: 'GravurCondensed-Regular', sans-serif;
    font-weight: normal;
    margin: 0;
}

body {
    background: #15212C;

    -webkit-transition: padding-top .5s;
    -moz-transition: padding-top .5s;
    -ms-transition: padding-top .5s;
    -o-transition: padding-top .5s;
    transition: padding-top .5s;
}
/* Prevent scrolling the background when the menu is open */
body.noscroll{
    overflow:hidden;
}

body.livestream {
    padding-top: 31px;
}

h1, h2, h3 {
    color: #ffff00;
}

/* Smooth scrolling for Mobile */
* {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-behavior: smooth;
}

/* No select */
.disable-select {
    cursor: default;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

header {
    display: inline-block;
    color: #ffff00;
    opacity: 1;
    height: calc(100% - 112px);
    font-family: 'GravurCondensed-Light', sans-serif;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;

    cursor: default;
}

header .title {
    letter-spacing: 0;
    margin: 20px 0 20px 20px;
    font-family: 'GravurCondensed-Light', sans-serif;
    font-size: 45px;
    line-height: 45px;
}

header.open {
    opacity: 1;
}
body.open .watch {
    opacity: 0;
}


#bgVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -1;
}

a{
    text-decoration: none;
}
hr{
    border: 2px solid #ffff00;
    width: 20%;
    margin-left: 0;
}

p {
    vertical-align: top;
    display: inline-block;
    cursor: default;
}

.watch {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.watch:hover .view {
    color: rgba(255, 255, 0, 0.5);
}

.watch:hover svg path {
    fill: rgba(255, 255, 0, 0.5);
}

.watch svg {
    padding-top: 20px;
    height: 38px;
}
.watch svg path{
    fill: #ffff00;
    -webkit-transition: fill .5s;
    -moz-transition: fill .5s;
    -ms-transition: fill .5s;
    -o-transition: fill .5s;
    transition: fill .5s;
}
.watch .view {
    color: #ffff00;
    font-family: 'GravurCondensed-Thin', sans-serif;
    font-weight: normal;
    font-size: 100px;
    letter-spacing: -0.4px;
    line-height: 90px;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.closebtn {
    right: 0;
    margin: 20px;
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
.closebtn .lines{
    stroke:#fff;
    stroke-linecap:square;
    stroke-miterlimit:10;
    stroke-width:0.5px;
}
.text-hyperlink{
    text-decoration: underline !important;
}
.one-column{
    max-width: 610px;
    flex: auto;
    padding: 20px 30px;
}
.credit {
    align-self: flex-end;
}

.right{
    float: right;
}

.info-panel.open .closebtn {
    display: block;
}

form input.send {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}


/*
    Video and Lightbox styling
 */

a.lightboxVideo {
    position: relative;
    display: block;
    cursor: pointer;
}

a.lightboxVideo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

a.lightboxVideo .overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 25%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
/*Twitch live stream style*/
#livestream {
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'GravurCondensed-Regular', sans-serif;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 0;

    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    position: fixed;
    width: 100%;
    top: 0;

}
#livestream:hover {
    color: rgba(255, 255, 255, 0.6);

    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}
#livestream svg {
    height: 14px;
    margin: 0 20px;
    vertical-align: text-top;
}
#livestream .titlewrap {
    width: 360px;
    height: 13px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}
#livestream .titlewrap .wrapper.marquee {
    animation: marquee 10s linear infinite;
    display: inline-block;
    padding-left: 360px;
    position: absolute;
}
#livestream span {
    font-family: 'GravurCondensed-Light', sans-serif;
    vertical-align: middle;
    display: inline-block;
}
#livestream .dot {
    font-size: 55px;
    font-family: sans-serif;
    vertical-align: text-top;
}
.lity-close {
    display: none;
}
.lity-content .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.lity-container {
    height: 100%;
    width: 100%;
}
.iframe-container iframe {
    height: calc(100vh - 35px);
    width: 100%;
}
.iframe-container {
    display: flex;
    height: 100vh;
    align-items: flex-end;
}

/* Owl Carousel */
.carouselWrapper .owl-carousel{
    position: relative;
    max-width: calc(100% - 80px)
}

.carouselWrapper {
    display: flex;
}

.carouselWrapper .control {
    position: relative;
    width: 40px;
    cursor: pointer;
}

.carouselWrapper .control.prev span, .carouselWrapper .control.next span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 768px) {
    .carouselWrapper .control.prev span, .carouselWrapper .control.next span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
}


@media (min-width: 768px) {
    .carouselWrapper .control.prev span {
        /*left: -100px;*/
        left: 20px;

        -webkit-transition: left 1s;
        -moz-transition: left 1s;
        -ms-transition: left 1s;
        -o-transition: left 1s;
        transition: left 1s;
    }
    .carouselWrapper .control.prev:hover span {
        left: 20px;
        color: #ffff00;
    }


    .carouselWrapper .control.next span {
        /*right: -100px;*/
        right: 20px;

        -webkit-transition: right 1s;
        -moz-transition: right 1s;
        -ms-transition: right 1s;
        -o-transition: right 1s;
        transition: right 1s;
    }
    .carouselWrapper .control.next:hover span {
        right: 20px;
        color: #ffff00;
    }
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

@keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
