.mobile.menu {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
}

.info-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    top: 110%;
    position: fixed;
    left: 0;
    z-index: 1;
    background: rgba(230, 230, 230, .3);
    overflow-x: hidden;
    transition: 0.5s;
    color: #fff;
}
.panel-content {
    display: none;
}
.panel-content.active {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 40px 30px 60px;
}
.info-panel a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.info-panel a:hover {
    color: #ff0;
}

.info-panel .closebtn {
    position: absolute;
    top: 0;
}
nav.options {
    flex: 0 1 auto;
}

.option-item {
    border: .5px solid rgba(230, 230, 230, .0);
    cursor: pointer;
    background: transparent;
    padding: 3.75px 4.75px;
    margin: .5px 30px .5px .5px;
}

.option-item:last-child {
    margin-right: 0;
}

.option-item.active,
.option-item:hover {
    border: .5px solid #fff;
}
.info-panel.open {
    background: #8C8C8C;
}
/* Full height panel */
.info-panel.open.fullscreen{
    height: 100vh;
    top: 0;
}

#aboutPanel {
    position: relative;
    font-family: 'GravurCondensed-Regular', sans-serif;
    font-size: 22px;
    line-height: 27px;
    margin-top: 0;
}

.one-column{
    flex: 0 1 610px;
    margin: 0;
    padding-bottom: 20px;
}
.credit {
    align-self: flex-end;
}
.credit img {
    width: 150px;
    padding: 15px 0;
    display: block;
}

#openAPIPanel p {
    margin-bottom: 0;
}

@media (min-width: 768px){
    body .info-panel.open {
        top: 142px;
        height: calc(100vh - 142px);
    }
    body.livestream .info-panel.open {
        top: 173px;
        height: calc(100vh - 173px);
    }

    .info-panel .closebtn {
        position: absolute;
        top: 0;
    }
    .info-panel .openbtn {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .info-panel.open .openbtn {
        display: none;
    }
}

/*
    Specific media break point for the info-panel and it's flex boxes.
 */
@media (min-width: 849px){
    .one-column{
        max-width: 610px;
        padding-right: 30px;
        padding-bottom: 0;
    }

    #openAPIPanel p {
        flex: 0 0 calc(50% - 10px);
        max-width: 610px;
    }

    #openAPIPanel p.right {
        padding-left: 20px;
    }
}

@media (max-width: 769px) {
    .info-panel.open{
        top: 0;
    }
    .closebtn{
        margin: 0 auto;
        top: -20px;
    }
}
