.info-panel {
    width: 100vw;
    height: 100%;
    top: calc(100% - 58px);
    position: fixed;
    left: 0;
    z-index: 1;
    background: rgba(230, 230, 230, .3);
    overflow-x: hidden;
    transition: 0.5s;
    color: #fff;
}
.panel-content{
    display: none;
}
.panel-content.active{
    display: block;
}
.info-panel a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.info-panel a:hover {
    color: #ff0;
}

.info-panel .closebtn {
    position: absolute;
    top: 0;
}

.option-item {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 5px;
  padding-bottom: 3px;
}

.option-item.active,
.option-item:hover {
    border: .5px solid #fff;
}

@media (min-width: 768px){
    .info-panel.open{
        height: 50%;
        top: 50%;
    }
}

@media (max-width: 769px) {
    .info-panel.open{
        height: 100%;
        top: 0%;
    }
    .closebtn{
        margin: 0 auto;
        top: -20px;
    }
}
