@font-face {
  font-family: 'NHaasGroteskDSPro-55Rg';
  src: url('../fonts/NHaasGroteskDSPro-55Rg/NHaasGroteskDSPro-55Rg.eot?#iefix') format('embedded-opentype'),  url('../fonts/NHaasGroteskDSPro-55Rg/NHaasGroteskDSPro-55Rg.woff') format('woff'), url('../fonts/NHaasGroteskDSPro-55Rg/NHaasGroteskDSPro-55Rg.ttf')  format('truetype'), url('../fonts/NHaasGroteskDSPro-55Rg/NHaasGroteskDSPro-55Rg.svg#NHaasGroteskDSPro-55Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NHaasGroteskDSPro-56It';
  src: url('../fonts/NHaasGroteskDSPro-56It/NHaasGroteskDSPro-56It.eot?#iefix') format('embedded-opentype'),  url('../fonts/NHaasGroteskDSPro-56It/NHaasGroteskDSPro-56It.woff') format('woff'), url('../fonts/NHaasGroteskDSPro-56It/NHaasGroteskDSPro-56It.ttf')  format('truetype'), url('../fonts/NHaasGroteskDSPro-56It/NHaasGroteskDSPro-56It.svg#NHaasGroteskDSPro-56It') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NHaasGroteskDSPro-65Md';
  src: url('../fonts/NHaasGroteskDSPro-65Md/NHaasGroteskDSPro-65Md.eot?#iefix') format('embedded-opentype'),  url('../fonts/NHaasGroteskDSPro-65Md/NHaasGroteskDSPro-65Md.woff') format('woff'), url('../fonts/NHaasGroteskDSPro-65Md/NHaasGroteskDSPro-65Md.ttf')  format('truetype'), url('../fonts/NHaasGroteskDSPro-65Md/NHaasGroteskDSPro-65Md.svg#NHaasGroteskDSPro-65Md') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GravurCondensed-Thin';
  src: url('../fonts/GravurCondensed-Thin/GravurCondensed-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/GravurCondensed-Thin/GravurCondensed-Thin.otf')  format('opentype'),
	     url('../fonts/GravurCondensed-Thin/GravurCondensed-Thin.woff') format('woff'), url('../fonts/GravurCondensed-Thin/GravurCondensed-Thin.ttf')  format('truetype'), url('../fonts/GravurCondensed-Thin/GravurCondensed-Thin.svg#GravurCondensed-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GravurCondensed-Light';
  src: url('../fonts/GravurCondensed-Light/GravurCondensed-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GravurCondensed-Light/GravurCondensed-Light.otf')  format('opentype'),
	     url('../fonts/GravurCondensed-Light/GravurCondensed-Light.woff') format('woff'), url('../fonts/GravurCondensed-Light/GravurCondensed-Light.ttf')  format('truetype'), url('../fonts/GravurCondensed-Light/GravurCondensed-Light.svg#GravurCondensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

header{
    font-family: 'GravurCondensed-Thin', sans-serif;
    font-size: 100px;
    letter-spacing: -4px;
}

span.note,
input::placeholder,
textarea::placeholder,
input[type='submit']{
    font-family: 'GravurCondensed-Light', sans-serif;
    font-size: 13px;
}
input::placeholder {
    text-transform: uppercase;
}
textarea::placeholder {
    text-transform: uppercase;
}
nav span{
    font-family: 'GravurCondensed-Regular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}
p.creditText {
    font-family: 'GravurCondensed-Regular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}
p.callToAction,
p.contribute{
    font-family: 'GravurCondensed-Light', sans-serif;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: .05px;
}

p.content{
    line-height: 24px;
     font-family: 'NHaasGroteskDSPro-55Rg', sans-serif;
     font-size: 18px;
}

p.notes{
    font-family: 'NHaasGroteskDSPro-55Rg', sans-serif;
    font-size: 11px;
}

label{
    font-family: 'NHaasGroteskDSPro-55Rg', sans-serif;
    font-size: 18px;
}
span{
    font-family: 'NHaasGroteskDSPro-55Rg', sans-serif;
    font-size: 16px;
}


.message span{
    font-family: 'NHaasGroteskDSPro-56It', sans-serif;
    font-size: 9px;
}
#timer{
    letter-spacing: -8px;
}
